
    body{
    width: 100%;
    background: #03a9f4f2 !important;
    }
    #toTop
    {

        position: fixed;
    z-index: 99999;
    bottom: 20px;
    right: 120px;
    color: #d4dd29;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    }

/* header*/
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color:black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar.search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }

.col-2
    {
        margin-top:auto; margin-bottom:auto;
    }

    /*menu */
 .navbar-collapse{
    list-style: none;
 }

    
.nav-item :hover {
color:white;
background-color: red;
text-align: center;

}
.nav-item: active
{ background-color: red;
    color:white;
}
.nav-link
{ font-size: 22px;
    color:#9bff00;
}
/*slider*/
.carousel-inner img {
            width: 100%;}

/* content */

.list-film
{

    background:url(images/movie-details-bg.jpg);
}
.film
{
    text-align: center;
    padding-bottom:  20px;
}
.film .name-film
{
    margin-top: 30px;
}

.film h4
{ margin-top: 10px;
    color:white;
}

.footer
{padding-top: 60px;
    position: relative;
    background:url(images/bg-grid.jpg) top center repeat;
}

.hotline_number:hover
{
    color:#89c441;
}


