
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AMovie!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="res/style_them_phim.css">
</head>
<body>

</body>
</html>
<head >
	<title>AMovie!</title>
</head>
<body>
	<div class="container">
		<div class="row header">
		
				<div class="col-sm-12 logo row">
					<img alt="logo" src="res/banner.jpg" >
				</div>
				
				<div class="col-sm-8 search">
				<form>
					 <input type="text" class="form-control" placeholder="Tìm kiếm phim, rạp,...">
					<button type="button" class=" btn btn-light"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</button> 
					
					
				</form>
			</div>
				<div class="col-sm-4">
					<div class="account">
					<a href="#"><i class="fa fa-user-plus"></i>&nbsp; Đăng ký</a>
					/
					<a href="#"><i class="fa fa-sign-in-alt"></i> &nbsp;Đăng nhập</a>
					</div>
				</div>
	</div>
	<div>
		
			<ul class="nav menu-bar row">
				<li class="nav-item menu-item">
					<a class="nav-link" href="#">Trang chủ</a>
				</li>
				<li class="nav-item menu-item dropdown">
					<a class="nav-link" href="#">Phim<i class="fa fa-angle-down"></i></span></a>
					<div class="dropdown-content">
         				 <a class="dropdown-item" href="#">Phim đang chiếu</a>
          				
          				<a class="dropdown-item" href="#">Phim sắp chiếu</a>
          				
        		</div>
				</li>
				<li class="nav-item menu-item">
					<a class="nav-link" href="#">Danh sách rạp</a>
				</li>
				<li class="nav-item menu-item">
					<a class="nav-link" href="#">Thành viên</a>
				</li>
				<li class="nav-item menu-item">
					<a class="nav-link" href="#">Liên hệ</a>
				</li>
				
			</ul>
	</div>
	<div class="row film-carousel">
		
			<div class="carousel slide" id="carousel-361544">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-361544" class="active">
					</li>
					<li data-slide-to="1" data-target="#carousel-361544">
					</li>
					<li data-slide-to="2" data-target="#carousel-361544">
					</li>
					<li data-slide-to="3" data-target="#carousel-361544">
					</li>
					<li data-slide-to="4" data-target="#carousel-361544">
					</li>
					<li data-slide-to="5" data-target="#carousel-361544">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block" alt="Chị Mười Ba" src="res/1.jpg">
						<div class="carousel-caption">
							<h4>
								Chị Mười Ba
							</h4>
							
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block" alt="Shazam!" src="res/2.jpg">
						<div class="carousel-caption">
							<h4>
								Shazam!
							</h4>
							
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block" alt="Dumbo" src="res/3.jpg">
						<div class="carousel-caption">
							<h4>
								Dumbo
							</h4>
							
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block" alt="Dragon Ball Super : Broly" src="res/4.jpg">
						<div class="carousel-caption">
							<h4>
								Dragon Ball Super : Broly
							</h4>
							
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block" alt="The Only Mom" src="res/5.jpg">
						<div class="carousel-caption">
							<h4>
								The Only Mom
							</h4>
							
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block" alt="Hotel Mumbai" src="res/6.jpg">
						<div class="carousel-caption">
							<h4>
								Hotel Mumbai
							</h4>
							
						</div>
					</div>
					
				</div> 
				<a class="carousel-control-prev" href="#carousel-361544" data-slide="prev">
					<span class="carousel-control-prev-icon"></span> 
					<span class="sr-only">Previous</span>
				</a> 
				<a class="carousel-control-next" href="#carousel-361544" data-slide="next">
					<span class="carousel-control-next-icon"></span> 
					<span class="sr-only">Next</span>
				</a>
			</div>

		</div>
		<div class="sub-main  ">
            <div class="bg-content ">
                <div class="top-content">
                    <p class="legend">Xin mời thêm phim cho rạp: <span class="fa fa-hand-o-down"></span></p>
                </div>
                <form class="form-group">
                    <div class="input-group form-inline">
                        <p class="input-group-text col-sm-3"> Ảnh đại diện: </p>
                        <input type="file" name="Avatar" required class="rounded">

                     </select>
                    </div>

                    <div class="input-group form-inline">
                        <p class="input-group-text col-sm-3">Tên phim: </p>
                        <input type="text" name="TenPhim" required class="form-control col-sm-9" />
                       
                    </div>

                     <div class="input-group form-inline">
                        <p class="input-group-text col-sm-3"> Thể loại: </p>
                        <select class="form-control col-sm-9" name="TheLoai" required>
                        	<option value="Kinhdi">Kinh dị</option>
									<option value="HaiHuoc">Hài hước</option>
									<option value="HanhDong">Hành động</option>
									<option value="tinhCam">Tình cảm</option>
									<option value="TamLy">Tâm lý</option>
									<option value="GiaDinh">Gia đình</option>
									<option value="HocDuong">Học đường</option>
									<option value="VienTuong">Viễn tưởng</option>
                         

                     </select>
                    </div>
                       
                      <div class="input-group form-inline">
                        <p class="input-group-text col-sm-3"> Thời lượng: </p>
                        <input type="text" name="hour" required style="width: 50px;" class="rounded">&nbsp;&nbsp;:&nbsp;&nbsp;
						<input type="text" name="minute" required style="width: 50px;" class="rounded" >

                     
                    </div>

 					<div class="input-group form-inline">
                        <p class="input-group-text col-sm-3">Tóm tắt:</p>
                        <textarea  style="height: 100px;" placeholder="Nhập nội dung phim..." name="TomTat" required class="form-control col-sm-9 rounded" ></textarea>
                    </div>
 					<div class="input-group form-inline">
                        <p class="input-group-text col-sm-3">Giới hạn tuổi:</p>
                        <input type="radio" name="GioiHanTuoi" value="0" class="input-group-text col-sm-1" checked>   Có&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="GioiHanTuoi" value="1" class="input-group-text col-sm-1">  Không
                    </div>
                    <div class="input-group form-inline">
                        <p class="input-group-text col-sm-3">Ngày bắt đầu:</p>
                        <input type="date" name="NgayBatDau"class="rounded" required class="form-control col-sm-9" />
                    </div>
                    <div class="input-group form-inline">
                        <p class="input-group-text col-sm-3">Ngày kết thúc:</p>
                        <input type="date" name="NgayKetThuc"class="rounded" required class="form-control col-sm-9" />
                    </div>

                <input type="submit" class="btn btn-primary" value="Thêm phim" style="font-size: 1.1em;">&nbsp;&nbsp;&nbsp;
				<input type="reset" class="btn btn-danger" value="Nhập lại" style="font-size: 1.1em;">

                
            </form>
        </div>
        
    </div>

			<div class="col-sm-12 footer"style="margin-left: 0px;">
				<div>
						CÔNG TY TNHH CJ CGV VIETNAM </br>Giấy CNĐKDN: 0303675393, đăng ký lần đầu ngày 31/7/2008, đăng ký thay đổi lần thứ 5 ngày 14/10/2015, cấp bởi Sở KHĐT thành phố Hồ Chí Minh.</br>Địa Chỉ: Tầng 2, Rivera Park Saigon - Số 7/28 Thành Thái, P.14, Q.10, TPHCM.</br>Hotline: 1900 6017 </br>&copy;COPYRIGHT 2017 CJ CGV. All RIGHTS RESERVED .
				</div>
			
		</div>
	</div>
	
</body>
</html>
