<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign in</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="res\style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>

<div class="main-bg">
    
    <h1>Domain Name</h1>
   
    <div class="sub-main">
      <div class="bg-content">
        <div class="top-content">
         <img src="https://img.icons8.com/dusk/64/000000/name.png" alt="Sign in">
        </div>
        <form>
          <p class="legend">Đăng nhập<span class="fa fa-hand-o-down"></span></p>
          <div class="input">
            <input type="username" placeholder="Username" name="username" required />
            <span class="fa fa-user-circle"></span>
          </div>
          <div class="input">
            <input type="password" placeholder="Password" name="password" required />
            <span class="fa fa-unlock"></span>
          </div>
          <button type="submit" class="">
            Đăng nhập
            <!-- <span class="fa fa-sign-in-alt"></span> -->
          </button>
          <p class="normal">Bạn chưa có tài khoản? Hãy <a href="#">đăng ký</a></p>
        </form>
        <a href="#" class="bottom-text">Forgot Password?</a>
      </div>
    </div>
   

</body>
</html>