<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sign up</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="res\style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
	<div class="main-bg">
		
		<h1>Domain Name</h1>
		
		<div class="sub-main">
			<div class="bg-content">
				<div class="top-content">
					<img src="https://img.icons8.com/dusk/64/000000/name.png" alt="Sign in">
				</div>
				<form>
					<p class="legend">Đăng ký<span class="fa fa-hand-o-down"></span></p>
					<div class="input">
						<input type="text" name="name"  placeholder="Name" required/>
						<span class="fa fa-user-circle"></span>
					</div>
					<div class="input">
						<input type="tel" placeholder="Number phone" name="numberphone" required />
						<span class="fa fa-phone"></span>
					</div>

					<div class="input">
						
						
						<span class="fa fa-venus-mars"></span>
						
						<select>
							<option> Chọn giới tính </option>
							<option value="Female">Female</option>
							<option value="Male"> Male</option>
						</select>

					</div>
					<div class="input">

						<input type="tel" name="identitycard" placeholder ="Identity" required>
						<span class="fa fa-id-card"></span>

					</div>
					<div class="input">
						<input type="email" placeholder="Email" name="email" required />
						<span class="fa fa-envelope"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="Password" name="password" required />
						<span class="fa fa-unlock"></span>
					</div>
					<div class="input">
						<input type="password" placeholder="Confirm password" name="confirmpassword" required />
						<span class="fa fa-unlock"></span>
					</div>
					<div class="input">
						<input type="date" class="btn-select-input date" name="birthday"  value ="Birthday(dd/mm/yy)">
						<span class="fa fa-calendar"></span>
					</div>
					<button type="submit" class="">
						Đăng ký
						<!-- <span class="fa fa-sign-in-alt"></span> -->
					</button>
					<p class="normal">Bạn đã có tài khoản ? Đăng nhập  <a href="#">tại đây </a></p>
				</form>
			</div>
		</div>
		
	</body>
	</html>